/*
  ____ ___  _   _ _____  _    ____ _____   _   _ ____
 / ___/ _ \| \ | |_   _|/ \  / ___|_   _| | | | / ___|
| |  | | | |  \| | | | / _ \| |     | |   | | | \___ \
| |__| |_| | |\  | | |/ ___ \ |___  | |   | |_| |___) |
 \____\___/|_| \_| |_/_/   \_\____| |_|    \___/|____/

*/

.contact-us-block {
  position: relative;
  padding: $unit-jumbo 0 $unit-jumbo $unit-jumbo;

  @include mq (sm) {
    padding: $unit-jumbo $unit $unit-jumbo $unit;
  }

  h2 {

  }

  p {
    margin-bottom: $unit-xxl;
    font-size: $font-size-md;
  }

  .contact-us-left {
    .notranslate span {
      margin-left: 0 !important;
    }

    .form-controls {
      .btn {
        margin-top: $unit;
        margin-right: $unit;
      }
    }

    label {
      float: left;
      width: 100%;
      margin-bottom: $unit-xs;
      font-weight: $font-weight-bold;

      span {
        margin-left: 0 !important;
      }
    }

    input {
      float: left;
      width: 100%;
      max-width: 700px;

      @include mq (sm) {
        max-width: 400px;
      }
    }

    .buttons {
      input {
        max-width: 100px;
        margin-top: $unit;
      }
    }

    .notranslate {
      float: left;
      width: 100%;

      span {
        float: left;
        margin-left: $unit-xs;
        margin-right: $unit-xs;
      }
    }

    textarea {
      width: 100%;
      max-width: 700px;

      @include mq (md) {
        max-width: 600px;
      }

      @include mq (sm) {
        max-width: 400px;
      }
    }
  }

  .contact-us-right {
    img {
      position: absolute;
      top: $unit-jumbo;
      right: $unit-md;
      width: 100%;
      max-width: 450px;

      @include mq (md) {
        top: -40px;
        right: -75px;
        max-width: 300px;
      }

      @include mq (sm) {
        top: -40px;
        right: -75px;
        max-width: 200px;
      }
    }
  }
}
