/*
 ____ _____     _____ ____  _____ ____  ____
|  _ \_ _\ \   / /_ _|  _ \| ____|  _ \/ ___|
| | | | | \ \ / / | || | | |  _| | |_) \___ \
| |_| | |  \ V /  | || |_| | |___|  _ < ___) |
|____/___|  \_/  |___|____/|_____|_| \_\____/

*/

.divider-1, .divider-2, .divider-3, .divider-4 {
  .box-1, .box-2, .box-3, .box-4 {
    float: left;
    width: 25%;
    height: 10px;
    border: 1px solid $color-primary;
    background-color: $white;
  }
}

.divider-1 {
  .box-1 {
    background-color: $color-primary;
  }
}

.divider-2 {
  .box-2 {
    background-color: $color-primary;
  }
}

.divider-3 {
  .box-3 {
    background-color: $color-primary;
  }
}

.divider-4 {
  .box-4 {
    background-color: $color-primary;
  }
}
