/*
  ___  _   _ ____    _____ ___   ___  _     ____
 / _ \| | | |  _ \  |_   _/ _ \ / _ \| |   / ___|
| | | | | | | |_) |   | || | | | | | | |   \___ \
| |_| | |_| |  _ <    | || |_| | |_| | |___ ___) |
 \___/ \___/|_| \_\   |_| \___/ \___/|_____|____/

*/

.our-tools-block {
  position: relative;
  float: left;
  padding: $unit-xxl $unit-xxl $unit-jumbo $unit-xxl;
  background-color: $white;

  ul {
    float: left;
    margin-top: $unit-lg;
  }

  .our-tools-tile {
    margin-bottom: $unit-sm;

    span {
      float: left;
      width: $unit-md;
    }

    p {
      float: left;
      width: calc(100% - $unit-md);
      font-size: $font-size-lg;
    }
  }
}
