/*
 ____  _   _  _____        ______    _    ____  _____
/ ___|| | | |/ _ \ \      / / ___|  / \  / ___|| ____|
\___ \| |_| | | | \ \ /\ / / |     / _ \ \___ \|  _|
 ___) |  _  | |_| |\ V  V /| |___ / ___ \ ___) | |___
|____/|_| |_|\___/  \_/\_/  \____/_/   \_\____/|_____|

*/

.showcase-block {
  position: relative;
  padding: $unit-xxl $unit-xxl $unit-jumbo $unit-xxl;
  background-color: $color-primary;

  @include mq(md) {
    padding: $unit-xxl $unit-lg $unit-jumbo $unit-lg;
  }

  @include mq(sm) {
    padding: $unit-xxl $unit-lg $unit-jumbo $unit-lg;
  }

  h2 {
    padding-left: $unit-xl;
    color: $white;

    @include mq(md) {
      padding-left: 0;
    }

    @include mq(sm) {
      padding-left: 0;
    }
  }

  p {
    margin-bottom: $unit-xl;
    padding-left: $unit-xl;
    font-size: $font-size-md;
    color: $white;

    @include mq(md) {
      padding-left: 0;
    }

    @include mq(sm) {
      padding-left: 0;
    }
  }

  .showcase-tile {
    float: left;
    width: calc(25% - 20px);
    margin: 10px;
    padding: $unit-sm $unit-sm $unit-sm $unit-sm;
    border: 1px solid $white;
    text-align: center;

    @include mq(md) {
      width: 100%;
      margin-left: 0;
    }

    @include mq(sm) {
      width: 100%;
      margin-left: 0;
    }
  }
}
