/*
  ____  _   _ _____ _____ ___  _   _ ____
 | __ )| | | |_   _|_   _/ _ \| \ | / ___|
 |  _ \| | | | | |   | || | | |  \| \___ \
 | |_) | |_| | | |   | || |_| | |\  |___) |
 |____/ \___/  |_|   |_| \___/|_| \_|____/
*/


/* ==========================================================================
   %% Styling for Standard Buttons %%
   ========================================================================== */

.btn, .button, button {
  float: left;
  display: block;
  min-width: $unit-jumbo;
  padding: $unit $unit-md;
  border: 2px solid $color-primary;
  border-radius: 0;
  font-family: $font-1;
  font-size: $font-size;
  font-weight: $font-weight-semibold;
  text-align: center;
  background: $color-primary;
  color: $white;
  cursor: pointer;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  transition: all .3s ease;

  @include mq(sm) {
    width: 100%;
  }

  &:hover {
    border: 2px solid darken($color-primary, 15%);
    background: darken($color-primary, 15%);
  }

  // primary button
  &.btn-primary {
    border: 2px solid $color-primary;
    background: $color-primary;
    color: $white;

    &:hover {
      border: 2px solid darken($color-primary, 15%);
      background: darken($color-primary, 15%);
    }
  }

  // secondary button
  &.btn-secondary {
    border: 2px solid $color-secondary;
    background: $color-secondary;
    color: $white;

    &:hover {
      border: 2px solid darken($color-secondary, 15%);
      background: darken($color-secondary, 15%);
    }
  }

  // red button
  &.btn-red {
    border: 2px solid $red-potion;
    background: $red-potion;
    color: $white;

    &:hover {
      border: 2px solid darken($red-potion, 15%);
      background: darken($red-potion, 15%);
    }
  }

  // green button
  &.btn-green {
    border: 2px solid $green-potion;
    background: $green-potion;
    color: $white;

    &:hover {
      border: 2px solid darken($green-potion, 15%);
      background: darken($green-potion, 15%);
    }
  }

  // blue button
  &.btn-blue {
    border: 2px solid $blue-potion;
    background: $blue-potion;
    color: $white;

    &:hover {
      border: 2px solid darken($blue-potion, 15%);
      background: darken($blue-potion, 15%);
    }
  }

  // orange button
  &.btn-orange {
    border: 2px solid $orange-potion;
    background: $orange-potion;
    color: $white;

    &:hover {
      border: 2px solid darken($orange-potion, 15%);
      background: darken($orange-potion, 15%);
    }
  }

  // purple button
  &.btn-purple {
    border: 2px solid $purple-potion;
    background: $purple-potion;
    color: $white;

    &:hover {
      border: 2px solid darken($purple-potion, 15%);
      background: darken($purple-potion, 15%);
    }
  }

  // dark gray button
  &.btn-dark {
    border: 2px solid $dark-gray;
    background: $dark-gray;
    color: $white;

    &:hover {
      border: 2px solid darken($dark-gray, 15%);
      background: darken($dark-gray, 15%);
    }
  }

  // light gray button
  &.btn-gray {
    border: 2px solid $light-gray;
    background: $light-gray;
    color: $white;

    &:hover {
      border: 2px solid darken($light-gray, 15%);
      background: darken($light-gray, 15%);
    }
  }

  // grayed out/inactive button state
  &:disabled,
  &.js-disabled,
  &.btn-disabled {
    cursor: default;
    background: $light-gray !important;
    color: $off-white;
    pointer-events: none;
  }

  // creates a small size button
  &.btn-small {
    min-width: 0;
    padding: .75rem 1.25rem;
    @include font($font: $font-1, $style: normal, $size: $font-size-sm, $weight: normal);
  }

  // creates a miniature size button
  &.btn-mini {
    min-width: 0;
    padding: .5rem .75rem;
    @include font($font: $font-1, $style: normal, $size: $font-size-xs, $weight: normal);
  }

  // button that spans/fills the width of the container
  &.btn-full {
    display: block;
    width: 100%;
    text-align: center;
  }

  // double width standard button
  &.btn-wide {
    min-width: 0;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    @include font($font: $font-1, $style: normal, $size: $font-size, $weight: normal);
  }
}

a.btn {
  text-decoration: none;
  @include padding($unit, $unit-md);
}


/* ==========================================================================
   %% Styling for Outlined Buttons %%
   ========================================================================== */

.btn-outline {
  background: $white;
  border: 2px solid $color-primary;
  color: $color-primary;

  &:hover {
    border: 2px solid darken($color-primary, 15%);
    background-color: darken($color-primary, 15%);
    color: $white;
  }

  // secondary outlined button
  &.btn-secondary {
    border: 2px solid $color-secondary;
    color: $color-secondary;
    background-color: $white;

    &:hover {
      border: 2px solid darken($color-secondary, 15%);
      background-color: darken($color-secondary, 15%);
      color: $white;
    }
  }

  // red outlined button
  &.btn-red {
    border: 2px solid $red-potion;
    color: $red-potion;
    background-color: $white;

    &:hover {
      border: 2px solid darken($red-potion, 15%);
      background-color: darken($red-potion, 15%);
      color: $white;
    }
  }

  // green outlined button
  &.btn-green {
    border: 2px solid $green-potion;
    color: $green-potion;
    background-color: $white;

    &:hover {
      border: 2px solid darken($green-potion, 15%);
      background-color: darken($green-potion, 15%);
      color: $white;
    }
  }

  // blue outlined button
  &.btn-blue {
    border: 2px solid $blue-potion;
    color: $blue-potion;
    background-color: $white;

    &:hover {
      border: 2px solid darken($blue-potion, 15%);
      background-color: darken($blue-potion, 15%);
      color: $white;
    }
  }

  // orange outlined button
  &.btn-orange {
    border: 2px solid $orange-potion;
    color: $orange-potion;
    background-color: $white;

    &:hover {
      border: 2px solid darken($orange-potion, 15%);
      background-color: darken($orange-potion, 15%);
      color: $white;
    }
  }

  &.btn-purple {
    border: 2px solid $purple-potion;
    color: $purple-potion;
    background-color: $white;

    &:hover {
      border: 2px solid darken($purple-potion, 15%);
      background-color: darken($purple-potion, 15%);
      color: $white;
    }
  }

  &.btn-dark {
    border: 2px solid $dark-gray;
    color: $dark-gray;
    background-color: $white;

    &:hover {
      border: 2px solid darken($dark-gray, 15%);
      background-color: darken($dark-gray, 15%);
      color: $white;
    }
  }

  &.btn-gray {
    border: 2px solid $light-gray;
    color: $light-gray;
    background-color: $white;

    &:hover {
      border: 2px solid darken($light-gray, 15%);
      background-color: darken($light-gray, 15%);
      color: $white;
    }
  }
}
